.image-container {
    position: relative;
}

.image-container--header {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #Fff;
    font-size: 40px;
}

.room-container:hover {
    background-color: aliceblue;
}
