/* Navbar */

.custom-navbar--link {
    text-transform: uppercase;
    color: #fff !important;
    transition: all 0.2s linear;
}

.custom-navbar--link:hover {
    background-color: #ab916c;
    color: #000;
}

.nav > li > a:hover, .nav > li > a:focus {
    transition: all 0.2s linear;
    text-decoration: none;
    background-color: #ab916c !important;
}

.body-content {
   margin-top: 20px;
}

.custom-container {
   transition: all 200ms linear;
}

.custom-container:hover {
    box-shadow: 1px 12px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
    position: relative;
}

.image-container--header {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #Fff;
    font-size: 40px;
}

.room-name--header {
    font-weight: 600;
    margin: 14px 0 10px 0;
}

.room-container {
    display: flex;
    flex-direction: column;
    margin: 12px 0 4px 0;
    min-height: 230px;
    cursor: pointer;

}

.room-container:hover {
}

.room-image--contain {
    width: 100%;
    height: 400px;
}

.room-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.room-name--section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6px 0px;
    transition: all 200ms linear;
}

.room-name {
    font-size: 26px;
}

.view-room--btn {
    margin-top: 12px !important;
    height: 30px !important;
}

.room-order--btn {
    margin-top: 16px;
    padding: 4px 4px;
    border-width: 1px;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s linear;
}

.room-order--btn:hover {
    cursor: pointer;
    background-color: #f6a6a6;
}

.paginator-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.paginator-btn:hover {
    background-color: #e0e0e0;
}
/* ----------- Login form ------------ */
.login-section, .register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.login-container, .register-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #F6F8FA;*/
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-custom {
    max-width: unset !important;
}

.remember-container {
    padding: 0 15px;
}

.btn-custom {
    border-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: all 0.4s linear;
}

.btn-custom:hover {
       background-color: #ab916c !important;
}

.login-btn {
    width: 100%;
    padding: 6px 0;
    border: none;
}

/* Reservation Page */
.reservation-input--container {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-color: #b99d75;
    border-style: solid;
    border-width: 1px;
    color: #333;
}

.reservation-input {
    padding: 4px;
    border-color: rgba(0,0,0,.1);
    outline: none;
}

.date-input {
    border: none;
    outline: none;
}

.days-input {
    max-width: 50px;
    border: none;
}

.cost-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid; 
    border-color: #333;
}

.default-btn, .room-place--btn {
    height: 48px;
    margin: 4px 0 4px 0; 
    padding: 0 15px; 
    border-radius: 5px; 
    border: none;
    background-color: #000;
    outline: none; 
    color: #fff;
    transition: all 0.4s linear;
}

.check-reserve--btn {
    border-color: #b99d75;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
}

.default-btn:hover, .room-place--btn:hover, .check-reserve--btn:hover {
    background-color: #ab916c;
}

/* My Reservation */
.table-class {
    margin-top: 12px;
    box-shadow: 0 5px 30px rgba(80, 57, 24, 0.15); border-radius: 8px;
}

.header-column {
    height: 40px;
    padding: 8px;
    text-align: center;

}

/* Admin */
.search-input--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-color: #b99d75;
    border-style: solid;
    border-width: 1px;
    color: #333;
}

.input-search {
    min-width: 50%;
    padding: 4px;
    border: none;
    outline: none;
}

.search-btn {
    height: 30px;
    padding: 6px 12px;
}

.header-reservatio {
    padding: 4px 0;
    font-weight: 400;
    background-color: #53624E;
}

.row-reservation {
    padding: 4px 0;
    font-weight: 400;
}